[Desktop Entry]
Version=1.0
Name=tCalc
GenericName=Calculator
Comment=A simple calculator written in core Tcl/Tk
Exec=tcalc %u
Icon=accessories-calculator
Type=Application
Terminal=false
Keywords=Calculator;
Categories=Utility;Calculator;
StartupNotify=false
